{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block body %}
<div class="main-content pl-sm-3 mt-4 d-flex justify-content-center align-items-center">
  <div class="col-md-5 col-lg-5 col-xl-5 col-12">
    {% include "layouts/alerts.html" %}
    <h1 class="text-h1 text-center">{% trans "Change Password" %}</h1>
    <form class="login" method="POST" action="{% url 'account_change_password' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_oldpassword">{% trans "Old Password:" %}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-lock" aria-hidden="true"></i></span>
          </div>
          <input type="password" name="oldpassword" class="form-control" id="id_oldpassword" placeholder="{% trans 'Old Password' %}">
        </div>
      </div>
      <div class="form-group input-button">
        <label for="id_password1">{% trans "New Password:" %}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-lock" aria-hidden="true"></i></span>
          </div>
          <input type="password" name="password1" class="form-control toggle-password" placeholder="{% trans 'New Password' %}">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary toggle-button" aria-label="Mostrar Senha">
              <i class="fas fa-eye" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <small class="text-muted">{% trans "Your new password must contain at least 8 characters and should not be too similar to your personal information." %}</small>
      </div>
      <div class="form-group input-button">
        <label for="id_password2">{% trans "Confirm New Password:" %}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-lock" aria-hidden="true"></i></span>
          </div>
          <input type="password" name="password2" class="form-control toggle-password" placeholder="{% trans 'Confirm New Password' %}">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary toggle-button" aria-label="Mostrar Senha">
              <i class="fas fa-eye" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">{% trans "Change Password" %}</button>
      </div>
    </form>
    <hr>
    <p class="first-access-href text-center">
      <a style="text-decoration-line: none" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
    </p>
  </div>
</div>
{% endblock %}
