<form method="post" action="{% url 'main:reservas-detail' object.id %}">
    {% csrf_token %}
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="container my-5">
            <a class="btn btn-outline-primary btn-sm mb-3" href="{% url 'main:Listagem' %}">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        
            <div class="card mx-auto" style="max-width: 400px;">
                <div class="card-body">
                    <h3 class="card-title text-primary">{{ object.localizacao }}</h3>
                    <p class="card-text"><strong>Valor:</strong> {{ object.valor }}</p>
                </div>
            </div>
        </div>
    </div>

</form>
