{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
  <h3 class="mb-4">Lista de Reservas</h3>
  {% if messages %}
      {% include "layouts/messages.html" %}
  {% endif %}
  <div class="d-flex align-items-center">
    <a href="{% url 'main:reservas-create' %}" class="btn btn-success mb-3" style="margin-top: 10px;">
        <i class="fas fa-plus"></i> Novo Cadastro
    </a>
    <div class="card ml-3" style ="margin-left: 15px;">
        <div class="card-body">
            <p class="card-text">Total de Reservas: {{ num_reservas }}</p>
        </div>
    </div>
</div>


  <table class="table table-striped mt-3">
      <thead class="thead-primary">
          <tr>
              <th>Detalhes</th>
              <th>CNPJ</th>
              <th>Nome da Empresa</th>
              <th>Categoria</th>
              <th>Quitado</th>
              <th>Ações</th>
          </tr>
      </thead>
      <tbody>
          {% for object in object_list %}
              <tr>
                  <td>
                      <a data-toggle="modal" data-target=".bd-example-modal-lg" style="margin-left: 15px;">
                          &#128269;
                      </a>
                      {% include "main/reserva_detail.html" %}
                  </td>
                  <td>{{ object.cnpj_empresa }}</td>
                  <td>{{ object.nome_empresa }}</td>
                  <td>{{ object.categoria_empresa }}</td>
                  <td>{% if object.quitado %} Sim {% else %} Não {% endif %}</td>
                  <td>
                      <div class="d-flex align-items-center">
                          <a href="{% url 'main:reservas-update' object.id %}" class="btn btn-primary btn-sm mr-2">
                              <i class="fas fa-edit"></i>
                          </a>
                          <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalExemplo-{{ object.id }}">
                              <i class="fas fa-trash"></i>
                          </a>
                          {% include "main/reserva_confirm_delete.html" %}
                      </div>
                  </td>
              </tr>
          {% empty %}
              <tr>
                  <td colspan="6">
                      <p>Não existem reservas cadastradas.</p>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
<span class="br-divider my-3"></span>

{% if page_obj.has_other_pages %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        Previous
                    </a>
                </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                    {% if page_obj.number == page_number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        Next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        Last
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{%  endblock %}
