{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
<div class="container my-5">
    <a class="btn btn-outline-primary btn-sm mb-3" href="{% url 'main:Listagem' %}">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>

    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <h3 class="card-title text-primary">{{ object.nome_empresa }}</h3>
            <p class="card-text"><strong>CNPJ:</strong> {{ object.cnpj }}</p>
            <p class="card-text"><strong>Categoria:</strong> {{ object.categoria_empresa }}</p>
            <p class="card-text"><strong>Quitado:</strong> {% if object.quitado %} Sim {% else %} Não {% endif %}</p>
            <p class="card-text"><strong>Stand:</strong> {{ object.stand }}</p>
            <p class="card-text"><strong>Valor do Stand:</strong> R$ {{ object.stand.valor|floatformat:2 }}</p>
            <div class="d-flex align-items-center">
              <a href="{% url 'main:reservas-update' object.id %}" class="btn btn-primary btn-sm mr-2">
                  <i class="fas fa-edit"></i>
              </a>
              <a href="{% url 'main:reservas-delete' object.id %}" class="btn btn-danger btn-sm">
                  <i class="fas fa-trash"></i>
              </a>
          </div>
        </div>
    </div>
</div>
{% endblock %}